<a href="https://colab.research.google.com/github/PuligundlaPrajwal/PYTHON/blob/main/Lists%2C_Strings%2C_Sets%2C_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTS

In [1]:
#append = adds at last pos
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print (fruits[3])

orange

In [3]:
#insert
fruits = ['apple', 'banana', 'cherry','jack fruit']
print (fruits)
fruits.insert (2,"Mango")
print (fruits)

['apple', 'banana', 'cherry', 'jack fruit']
['apple', 'banana', 'Mango', 'cherry', 'jack fruit']

In [2]:
#remove
fruits = ['apple', 'banana', 'cherry','jack fruit']
print (fruits)
fruits.remove ("banana")
print (fruits)

['apple', 'banana', 'cherry', 'jack fruit']
['apple', 'cherry', 'jack fruit']

In [4]:
#pop
fruits = ['apple','apple','banana', 'cherry','jack fruit']
print (fruits)
fruits.pop(1)
print (fruits)

['apple', 'apple', 'banana', 'cherry', 'jack fruit']
['apple', 'banana', 'cherry', 'jack fruit']

In [5]:
#number descending sort
num = ["1","5","9","4","-2"]
print (num)
num.sort (reverse=True)
print (num)

['1', '5', '9', '4', '-2']
['9', '5', '4', '1', '-2']

In [6]:
#sort
alpha = ["a","e","c"]
print (alpha)
alpha.sort()
print (alpha)

['a', 'e', 'c']
['a', 'c', 'e']

In [7]:
#reverse
alpha = ["a","e","c"]
print (alpha)
alpha.reverse()
print (alpha)

['a', 'e', 'c']
['c', 'e', 'a']

In [8]:
#for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [9]:
#while loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# STRINGS

In [10]:
a = "rrr movie has been released"
print (a.upper())

RRR MOVIE HAS BEEN RELEASED

In [11]:
#remove spaces
a = "        rrr movie has been released"
print (a.strip())

rrr movie has been released

In [12]:
a = "rrr movie has been released"
print (a.replace("rrr","Radhe Shyam"))

Radhe Shyam movie has been released

In [13]:
a = "rrr movie has been released"
print (a.split())

['rrr', 'movie', 'has', 'been', 'released']

In [14]:
a = "rrr movie, has been released"
print (a.split(","))

['rrr movie', ' has been released']

In [15]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [16]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [17]:
quantity = int(input("Enter quantity:"))
itemno = str(input("Enter item name:"))
price = int(input("Enter price:"))
total = quantity * price
myorder = "I bought {} packs of {} for {} rupees."
print(myorder.format(quantity, itemno, total))

Enter quantity:5
Enter item name:CHIPS
Enter price:15
I bought 5 packs of CHIPS for 75 rupees.

In [19]:
sub1 = int(input("Enter marks:"))
sub2 = int(input("Enter marks:"))
sub3 = int(input("Enter marks:"))
sub4 = int(input("Enter marks:"))
marks = sub1 + sub2 + sub3 + sub4
result = "Got {} in sub1, {} in sub2, {} in sub3, {} in sub3 with a total of {}"
print(result.format(sub1, sub2, sub3,sub4,marks))

Enter marks:12
Enter marks:55
Enter marks:33
Enter marks:95
Got 12 in sub1, 55 in sub2, 33 in sub3, 95 in sub3 with a total of 195

In [20]:
txt = "We are the so-called \"Vikings\" from the north."
print (txt)

We are the so-called "Vikings" from the north.

In [24]:
txt = "rrr has been \breleased"
print (txt)

rrr has been released

In [23]:
txt = "rrr has been \nreleased"
print (txt)

rrr has been
released

# SETS

In [26]:
thisset = {"csk", "mi", "rr"}
print(thisset)

{'csk', 'mi', 'rr'}

In [55]:
thisset = {"mi", "csk", "rr"}
print(len(thisset))

3

In [28]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'abc'}

In [29]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [30]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'apple', 'banana', 'cherry'}

In [54]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

In [53]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [52]:
hisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'mango', 'pineapple', 'apple', 'orange', 'banana', 'cherry', 'kiwi', 'papaya'}

In [51]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'apple', 'orange', 'banana', 'cherry', 'kiwi'}

In [50]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [49]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [48]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x) 
print(thisset)

apple
{'banana', 'cherry'}

In [46]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [45]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 3, 'a', 'b'}

In [44]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [43]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'google', 'banana', 'cherry'}

# DICTIONARIE

In [59]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [58]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [60]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

3

In [61]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [62]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys()
print(x) 
car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [63]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [64]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [65]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [66]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
year 1964